.postList {
  padding: 12px 12px;
  border: 1px solid #efefef;
  border-radius: 6px;
  margin: 24px 0;
  line-height: 2;
  .title {
    font-size: 24px;
    margin-bottom: 24px;
    color: #A1EEBD;
  }
  .brief {
    font-size: 18px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  .more {
    margin-top: 24px;
    font-size: 24px;
    cursor: pointer;
    color: #80c4e9;
    &:hover {
      color: #FFB26F;
    }
  }
}
